* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card a:first-child{
    text-decoration: none;
    color: inherit;
}
.project-card a:nth-child(2):hover{
    color: #e69f9f;
}
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

